.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.hide { display:none; }
a.folder_link { padding: 2px 0px 0px 8px; color:#000; font-weight:bold; float:left; }
a.file_link { padding: 2px 0px 0px 0px; color:#000; float:left; }
.entry_row_dir { height:18px; padding:4px 4px 4px 20px; background-position: 3px 5px; }
.entry_row_file_generic, .entry_row_file_picture { display:none; }
.form_row { margin:10px 0; }

.entry_row_holder { background:#f0f0f0; padding:10px 20px; }

.entry_row_dir:hover {background-color:#f0f0f0;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.entry_row_filetosniff { background-color:#e8e8e8; }
.entry_row_filetosniff:nth-child(even) { background-color:#f0f0f0; }
.entry_name { width: 400px; }
.entry_history { width:200px; float:right; text-align:right;}

.entry_history span { padding: 3px 7px 3px 8px; border-radius: 3px; margin:0 0 0 2px; min-width:24px; display:inline-block; text-align:center;}
.entry_history .error { background:#c30; color:#fff; }
.entry_history .warning { background:#fc0; }
.entry_history .out-of-date { background:#fc0; min-width:65px; }
.entry_history .not-tested { background:#eee; color:#bbb; min-width:65px; }
.entry_history .all-good { background:#7C4; color:#5A2; min-width:65px; }
.entry_history .error.none, .entry_history .warning.none { background:#380; color:#fff; }

.infopath { background-position: 4px 8px; background-color:#38D; padding: 10px 30px; color:#fff; font-family:monospace; }
pre { word-wrap: break-word; line-height: 24px; }

.submit_sniff { background-color: #c30; border: 1px solid #c30; }

.report_summary { background:#c30; color:#fff; padding:10px 0; margin:0px 0 10px 0;}
.report_summary.clean { background:#380; }
.report_filename { background:#aaa; color:#333; height: 24px; padding: 10px; margin: 0 0 0px 0;}
.report_filename p {line-height:24px; float:left; }
.report { padding: 20px 20px 20px 20px; width:890px; }
.sniff-refresh { margin:0; float:right; }

.header-back-btn { float:right; }
.infopath { margin:10px 0 15px; }
.infopath p { float:left; line-height:20px; }
.infopath p a { color:#fff; }
.infopath .submit_back { margin:0; }



body { width:930px; }

.line-number { background: #ccc; padding: 3px 7px 3px 8px; border-radius: 3px; cursor:pointer; }
.line-number.error { background:#c30; color:#fff; }
.line-number.warning { background:#fc0; }